body{
    background-image: url("../assets/background.jpg");
}
*{
    margin: 0;
    padding: 0;
}



.chip:hover{
    cursor: pointer;
}

.btn{
    background-color: transparent;
    border: solid;
    border-radius: 50%;
    border-color: black;
    padding: 0;
}

